<!DOCTYPE html>
 <!-- Menu -->
          <section id="menu">

            <!-- Search -->
              <section>
                <form class="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </section>

            <!-- Links -->
              <section>
                <ul class="links">
                  <li>
                    <a href="#">
                      <h3>Lorem ipsum</h3>
                      <p>Feugiat tempus veroeros dolor</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>Dolor sit amet</h3>
                      <p>Sed vitae justo condimentum</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>Feugiat veroeros</h3>
                      <p>Phasellus sed ultricies mi congue</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>Etiam sed consequat</h3>
                      <p>Porta lectus amet ultricies</p>
                    </a>
                  </li>
                </ul>
              </section>

            <!-- Actions -->
              <section>
                <ul class="actions vertical">
                  <li><a href="#" class="button big fit">Log In</a></li>
                </ul>
              </section>

          </section>

<!-- Main -->
<div class="row row-main">
    <div class="col-lg-4">
          <!-- Sidebar -->
          <section id="sidebar">

            <!-- Intro -->
              <section id="intro">
                <a href="#" class="logo"><img src="../images/gbm_logo.jpg" alt="" /></a>
                <header>
                 <!--  <h2>G<i>etting</i> B<i>enji</i> M<i>oney</i></h2> -->
                </header>
              </section>

            

            <!-- Posts List -->
              <section>
              <h3 style="color: white; margin-bottom: 20px;">Artists on the rise</h3>
                <ul class="posts">
                  <li>
                    <article>
                      <header>
                      
                        <h3><a href="https://www.youtube.com/watch?v=PFO3VI9pHeA">Mac Benji - Benji Mode</a></h3>
                        <time class="published" datetime="2015-10-20">August 12, 2017</time>
                      </header>
                      <a href="https://www.youtube.com/watch?v=PFO3VI9pHeA" class="image"><img src="https://img.youtube.com/vi/PFO3VI9pHeA/0.jpg" alt="" /></a>
                    </article>
                  </li>
                  <li>
                    <article>
                      <header>
                        <h3><a href="https://www.youtube.com/watch?v=vuUIoPVRpmk">Young Dro - We In Da City</a></h3>
                        <time class="published" datetime="2015-10-15">April 26, 2015</time>
                      </header>
                      <a href="https://www.youtube.com/watch?v=vuUIoPVRpmk" class="image"><img src="https://img.youtube.com/vi/vuUIoPVRpmk/0.jpg" alt="" /></a>
                    </article>
                  </li>
                  <li>
                    <article>
                      <header>
                        <h3><a href="https://www.youtube.com/watch?v=iotxZEzzkMw">Mac Benji Ft. Young Dolph - Benji Money</a></h3>
                        <time class="published" datetime="2015-10-10">May 1, 2017</time>
                      </header>
                      <a href="https://www.youtube.com/watch?v=iotxZEzzkMw" class="image"><img src="https://img.youtube.com/vi/iotxZEzzkMw/0.jpg" alt="" /></a>
                    </article>
                  </li>
                  <li>
                    <article>
                      <header>
                        <h3><a href="https://www.youtube.com/watch?v=1JA4QNmpteU">Ski Mask The Slump God - BabyWipe</a></h3>
                        <time class="published" datetime="2015-10-08">September 15, 2017</time>
                      </header>
                      <a href="https://www.youtube.com/watch?v=1JA4QNmpteU" class="image"><img src="https://img.youtube.com/vi/1JA4QNmpteU/0.jpg" alt="" /></a>
                    </article>
                  </li>
                  <li>
                    <article>
                      <header>
                        <h3><a href="https://www.youtube.com/watch?v=OYhXJaEbw7c">Tay K - The Race</a></h3>
                        <time class="published" datetime="2015-10-06">October 7, 2017</time>
                      </header>
                      <a href="https://www.youtube.com/watch?v=OYhXJaEbw7c" class="image"><img src="https://img.youtube.com/vi/OYhXJaEbw7c/0.jpg" alt="" /></a>
                    </article>
                  </li>
                </ul>
              </section>

              <!-- Mini Posts -->
              <section>
                <div class="mini-posts">

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="#">BAT FEST: Benji rocks the stage!</a></h3>
                        <time class="published" datetime="2015-10-20">August 17 2017</time>
                        <a href="#" class="author"><img src="../images/avatar.jpg" alt="" /></a>
                      </header>
                      <a href="#" class="image"><img src="../images/benji_fans_austin.jpg" alt="" /></a>
                    </article>

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="#">Rutrum neque accumsan</a></h3>
                        <time class="published" datetime="2015-10-19">October 19, 2015</time>
                        <a href="#" class="author"><img src="../images/avatar.jpg" alt="" /></a>
                      </header>
                      <a href="#" class="image"><img src="../images/pic05.jpg" alt="" /></a>
                    </article>

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="#">Odio congue mattis</a></h3>
                        <time class="published" datetime="2015-10-18">October 18, 2015</time>
                        <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                      </header>
                      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                    </article>

                  <!-- Mini Post -->
                    <article class="mini-post">
                      <header>
                        <h3><a href="#">Enim nisl veroeros</a></h3>
                        <time class="published" datetime="2015-10-17">October 17, 2015</time>
                        <a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
                      </header>
                      <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                    </article>

                </div>
              </section>

            <!-- About -->
              <section class="blurb">
                <h2>About</h2>
                <p> temporary words.</p>
                <ul class="actions">
                  <li><a href="#" class="button">Learn More</a></li>
                </ul>
              </section>

              <!-- Footer -->
              <section id="footer">
                <ul class="icons">
                  <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                  <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; B.B</p>
              </section>

          </section>
        </div>

    <div class="col-lg-6">
          <div id="main">

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a href="single">Mac Benji, Club poppin!!</a></h2>
                    <p>A glimpse of last night, we had everybody going benji mode!</p>
                  </div>
                  <div class="meta">
                    <time class="published" datetime="2015-11-01">September 1, 2017</time>
                    <a href="#" class="author"><span class="name">Benji Rep</span><img src="../images/club_pic.jpg" alt="" /></a>
                  </div>
                </header>
                  <div class="row post-row1">
                    <div class="col col-lg-4">
                      <a href="#" class="image featured"><img src="../images/club_pic.jpg" alt="" /></a>
                    </div>
                    <div class="col col-lg-8">
                      <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. </p>
                    </div>
                  </div>
                <footer>
                  <ul class="actions">
                    <li><a href="#" class="button big">Continue Reading</a></li>
                  </ul>
                  <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                  </ul>
                </footer>
              </article>

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a href="#">Ultricies sed magna euismod enim vitae gravida</a></h2>
                    <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                  </div>
                  <div class="meta">
                    <time class="published" datetime="2015-10-25">October 25, 2015</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="i../mages/avatar.jpg" alt="" /></a>
                  </div>
                </header>
                <a href="#" class="image featured"><img src="../images/pic02.jpg" alt="" /></a>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
                <footer>
                  <ul class="actions">
                    <li><a href="#" class="button big">Continue Reading</a></li>
                  </ul>
                  <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                  </ul>
                </footer>
              </article>

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a href="#">Euismod et accumsan</a></h2>
                    <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                  </div>
                  <div class="meta">
                    <time class="published" datetime="2015-10-22">October 22, 2015</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="../images/avatar.jpg" alt="" /></a>
                  </div>
                </header>
                <a href="#" class="image featured"><img src="../images/pic03.jpg" alt="" /></a>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                <footer>
                  <ul class="actions">
                    <li><a href="#" class="button big">Continue Reading</a></li>
                  </ul>
                  <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                  </ul>
                </footer>
              </article>

            <!-- Pagination -->
              <ul class="actions pagination">
                <li><a href="" class="disabled button big previous">Previous Page</a></li>
                <li><a href="#" class="button big next">Next Page</a></li>
              </ul>

          </div>

      </div>
          <div class="col-lg-2">
          FACEBOOK LIKE BUTTON
          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgbm.macbenji.7%3Fref%3Dbr_rs&width=200px&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=1850520835179711" width="200px" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
      </div>