
<div id="wrapper" class="music_wrapper" style="display: block">

<div  class="row containers-container">
    <div class="container-outer">
    <span class="container-inner" id="grouper">
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>
            <span class="about">
                <p style="display: block;">mac benji</p>
            </span>

        </span>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-1 col-lg-10 music_desc_ajax">
    
    </div>
</div>


</div>