
<div id="wrapper" style="display: block">

<div class="containers-container">
<div class="container-outer">
   <span class="container-inner" id="grouper">
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>
        <span class="about">
            <p style="display: block;">mac benji</p>
        </span>

    </span>
</div>
</div>
<div style="background-color: black; width: 100%; height: 500px;">  

</div>

</div>