.row-main {
    width: 100%;
}
.rowmain_col_left {
    margin-right: 30px;
}

.fb_box {
    margin-left: 20px;
}

.fb_box h2 {
    color: black;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.post_lower_row {
    margin-top: 30px;
    width: 100%;
}

.post p {
			font-size: 14px;
			display: inline-block;
		}
		.post .post-row1 {
			margin-bottom: 2px;
			padding: 20px;
			background-color: whitesmoke;
			border-radius: 4px;
		}

.artist_rise {
	color: black; margin-bottom: 20px;

}

#wrapper .music_wrapper {
	padding: 0px;
	margin-left: 0px;
}

.music_desc_ajax {
	background-color: black;
	height: 700px;
	padding: 0px;
}
		